<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% if site.data.general_settings.google-analytics %}
        {% include google-analytics.html %}
    {% endif %}

    {% include header.html %}

    {{ content }}

    {%- comment -%}
      Render any content blocks defined in the page front matter. When
      migrating from Bookshop, this include iterates over the
      `content_blocks` array and renders appropriate partials. If the
      page does not define any blocks, nothing will be output.
    {%- endcomment -%}
    {% if page.content_blocks %}
      {% include content-blocks.html blocks=page.content_blocks %}
    {% endif %}

    <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>

    {% include footer.html %}

    <script src="/js/scripts.js"></script>
    <script src="/js/common.js"></script>
</body>
</html>