---
layout: default
---

<div class="container">

  <!-- Page heading -->
  <section class="section page-heading">
    <h2>{{ page.title }}</h2>
    {% if page.subtitle %}
      <p>{{ page.subtitle }}</p>
    {% endif %}
  </section>

  <!-- Featured image -->
  {% if page.image %}
  <div class="section project-image">
    <img src="{{ page.image }}" alt="{{ page.title }}">
  </div>
  {% endif %}

  <div class="page animate">
    {{ content }}
  </div>

  {% if page.previous.url %}
  <div class="project__navigation animate">
    <a class="project__prev" href="{{page.previous.url}}">
      <div class="project__box">
        <span class="project__nav__info">Next Project</span>
        <h2 class="project__nav__title">{{page.previous.title}}<i class="ion ion-md-arrow-round-forward arrow-right"></i></h2>
      </div>
    </a>
  </div>
  {% endif %}

</div>

